GOOGLE_API_KEY=your-google-api-key
POLYGON_API_KEY=your-polygon-api-key
RUN_EVERY_N_MINUTES=60
RUN_EVEN_WHEN_MARKET_IS_CLOSED=False
PRICE_CHANGE_THRESHOLD_PERCENT=1
TELEGRAM_TOKEN=your-telegram-bot-token
TELEGRAM_CHAT_ID=your-telegram-chat-id
ELEVEN_LABS_API_KEY=your-elevenlabs-api-key
